<header class="p-4">
  <h2 class="h1 fw-bold">
      Welcome to Road to HSKx - your personal Chinese partner for learning purposes
  </h2>

  <h1 class="h6 mb-4">
    Road to HSKx
  </h1>
</header>
<main>
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center flex-column">
      Could you tell me what character is this in <span class="text-secondary"> pinyin</span>?
        <span class="display-1">{{randomHskChar.hanzi}}</span>
        <form
        (submit)="$event.preventDefault(); check()"
        >
          <mdb-form-control>
            <input mdbInput
            (input)="change()"
            type="text" id="form1" class="form-control" autocomplete="off" #pinyinInput/>
            <label mdbLabel class="form-label" for="form1">Pinyin</label>
          </mdb-form-control>
          <button
          type="button"
          class="btn btn-primary my-1"
          (click)="check()"
          >Check</button>
        </form>
        <i mdbTooltip="{{ randomHskChar.pinyin }}" placement="top" class="fas fa-question-circle my-1"></i>
        <div *ngIf="isValid" class="validate my-1">Good!</div>
    </div>
  </div>
</main>
  

